@unihub:registry=http://127.0.0.1:4873/
//127.0.0.1:4873/:_authToken=MWNmYzFmM2Y1NjI0ZWM3M2I3ZjQwYjYzZjMyYjgyNTg6N2I0YjA3N2IxYmM4MTYwMGM5ODBhYTQ5ZWY3NzJkOTAzNmU5MTA5NDU1NGE3Y2JjNDBlNDA3NmVmYTQyZTAxM2VhNmNiMDI2M2E5YmM3N2EzOTBj
